# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PDF reports or exports
*.pdf

# VSCode settings (optional)
.vscode/

